@import "../../.cache/hellwal/colors-waybar.css";

* {
  font-family: "CaskaydiaMono NF";
  font-weight: bold;
  font-size: 13px;
}

/* #custom-notification { */
/*   font-family: "JetBrains Mono Nerd Font"; */
/*   font-size: 17px; */
/*   color: #a1bdce; */
/*   margin: 2px 0px 0px 0px; */
/* } */

window#waybar {
  /*background: rgba(23, 23, 23, 0.63);*/
  background: transparent;
  /*  border-radius: 15px; */
  /*  border: 2px solid #124323; */
  /* border: 0px solid #A1BDCE; */
  /* border: 2px solid rgba(255, 255, 255, 0.9); */
  /* border-radius: 0px; */
}

tooltip {
  background: @background;
  color: @foreground;
  font-size: 13px;
  border-radius: 2px;
  /* border: 2px solid #101a24; */
  border: none;
}

#custom-user {
  color: @background;
  font-size: 20px;
  background-color: @color2;
  padding-right: 7px;
  padding-left: 3px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#workspaces {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
}

#workspaces button {
  color: @color6;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  /* background-image: url("/home/anik/Documents/bar1.png"); */
  color: @color6;
  transition: all 0.3s ease;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.2s cubic-bezier(0.55, 0.68, 0.48, 1.682);
}

#workspaces button:hover {
  border: none;
  text-shadow: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
}

/* #taskbar button { */
/*   box-shadow: none; */
/*   text-shadow: none; */
/*   font-size: 4px; */
/*   padding: 0px; */
/*   border-radius: 9px; */
/*   margin-bottom: 3px; */
/*   margin-left: 0px; */
/*   padding-left: 3px; */
/*   padding-right: 3px; */
/*   margin-right: 0px; */
/*   color: @wb-color; */
/*   animation: tb_normal 20s ease-in-out 1; */
/* } */
/**/
/* #taskbar button.active { */
/*   background: @wb-act-bg; */
/*   color: @wb-act-color; */
/*   margin-left: 3px; */
/*   padding-left: 12px; */
/*   padding-right: 12px; */
/*   margin-right: 3px; */
/*   animation: tb_active 20s ease-in-out 1; */
/*   transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
/*   min-height: 9px; */
/* } */
/**/
/* #taskbar button:hover { */
/*   background: @wb-hvr-bg; */
/*   color: @wb-hvr-color; */
/*   animation: tb_hover 20s ease-in-out 1; */
/*   transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
/* } */
/**/
/* #tray menu * { */
/*   min-height: 16px; */
/*   font-weight: bold; */
/*   font-size: 13px; */
/*   color: #9488e3; */
/* } */
/**/
/* #tray menu separator { */
/*   min-height: 10px; */
/* } */
#custom-mouse {
  font-size: 14px;
  margin-bottom: 6px;
  background: #161320;
}

#custom-power {
  font-size: 15px;
  color: #ffffff;
  background: rgba(22, 19, 32, 0.9);
  margin: 6px 0px 6px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#bluetooth,
#custom-cliphist {
  color: #e6e7e7;
  background: #161320;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

/* #idle_inhibitor { */
/*   color: #24966e; */
/*   background: @bar-bg; */
/*   opacity: 1; */
/*   margin: 4px 0px 4px 0px; */
/*   padding-left: 4px; */
/*   padding-right: 4px; */
/* } */
#clock {
  color: @background;
  font-size: 12px;
  font-weight: bold;
  background: @color6;
  opacity: 1;
  margin: 5px 0px 5px 0px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
}
#cpu {
  font-weight: normal;
  font-size: 22px;
  color: #915caf;
}
#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
  font-weight: normal;
  font-size: 22px;
  color: #e4c9af;
}
#mpris {
  color: white;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}
#custom-notifications,
#custom-spotify,
#taskbar,
#custom-theme,
#custom-menu {
  color: #e8edf0;
  background: rgba(23, 23, 23, 0);
  margin: 0px 0px 0px 0px;
  padding-left: 1px;
  padding-right: 1px;
  opacity: 0.1;
}
#tray,
#window {
  color: #a1bdce;
  font-family: "Martian Mono";
}
#cava,
#upower#headset,
#upower {
  color: #a6d189;
}
#mpris {
  font-weight: bold;
}

#pulseaudio {
  font-weight: normal;
  font-size: 13px;
  color: @color3;
  background: @color6;
  margin: 5px 0px 5px 0px;
  padding-left: 1px;
  padding-right: 6px;
}
#backlight {
  color: @color2;
  background: @color6;
  font-weight: normal;
  font-size: 13px;
  margin: 5px 0px 5px 0px;
  padding-left: 0px;
  padding-right: 4px;
}
#backlight-slider slider,
#pulseaudio-slider slider {
  background: transparent;
  border: none;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 2px;
  background-color: @color6;
  border: none;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 2px;
  background-color: @color2;
  border: none;
}

#battery {
  font-size: 15px;
  font-weight: normal;
  color: @foreground;
  opacity: 1;
  margin: 5px 0px 5px 0px;
  padding-left: 6px;
  padding-right: 6px;
  background: @color2;
}
#battery.charging,
#battery.plugged {
  color: @color6;
}
#battery.critical:not(.charging) {
  color: @color5;
}

#network {
  color: @color7;
  font-size: 15px;
  font-weight: normal;
  margin: 5px 0px 5px 0px;
  padding-left: 6px;
  padding-right: 6px;
  background: @color2;
}

#taskbar {
  padding: 1px;
}

#group-minimized {
  border-left: solid;
  border-left-width: 0.5px;
}

#custom-ldiv_0,
#custom-rdiv_0 {
  color: @color2;
  font-size: 20px;
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
}
#custom-ldiv_1,
#custom-ldiv_2,
#custom-rdiv_1,
#custom-rdiv_2 {
  color: @color6;
  font-weight: bold;
  font-size: 20.5px;
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
  text-shadow: none;
  box-shadow: none;
}
